src/main/resources/person.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name"    type="xs:string"/>
        <xs:element name="adresse" type="xs:string" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id"      type="xs:long" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>